In [ ]:
! wget http://201.116.60.46/DatosAbiertos/Otorgamiento_de_Concesiones.zip
! unzip Otorgamiento_de_Concesiones.zip
! rm Otorgamiento_de_Concesiones.zip
! rm -r PERMISOS_MATERIALES REGISTRO_OBRAS_ZLA
! mkdir data

In [1]:
import numpy as np
import pandas as pd

In [2]:
folder = './CONCESIONES/'
dfolder ='./data/'

In [9]:
anexosDes_o = pd.read_csv(folder+'ANEXOS_DESCARGAS.csv',converters={'CLAVE DE REGIÓN HIDROLÓGICA': lambda x: int(x) if x else 0})
anexosSub_o = pd.read_csv(folder+'ANEXOS_SUBTERRÁNEOS.csv',converters={'CLAVE DE REGIÓN HIDROLÓGICA': lambda x: int(x) if x else 0,'CLAVE DE ACUÍFERO QUE MENCIONA EL TÍTULO': lambda x: int(x) if x else 0})
anexosSup_o = pd.read_csv(folder+'ANEXOS_SUPERFICIALES.csv',converters={'CLAVE DE REGIÓN HIDROLÓGICA': lambda x: int(x) if x else 0})
anexosZon_o = pd.read_csv(folder+'ANEXOS_ZONAS_FEDERALES.csv',converters={'CLAVE DE REGIÓN HIDROLÓGICA': lambda x: int(x) if x else 0})

In [24]:
tot = []
for e in range(1,33):
    tmp = anexosDes_o[anexosDes_o.ESTADO==e][:100]
    tot.append(tmp)

In [25]:
anexosDes = pd.concat(tot)

In [26]:
tot = []
for e in range(1,33):
    tmp = anexosSub_o[anexosSub_o.ESTADO==e][:100]
    tot.append(tmp)

In [27]:
anexosSub = pd.concat(tot)

In [28]:
tot = []
for e in range(1,33):
    tmp = anexosSup_o[anexosSup_o.ESTADO==e][:100]
    tot.append(tmp)

In [29]:
anexosSup = pd.concat(tot)

In [30]:
tot = []
for e in range(1,33):
    tmp = anexosZon_o[anexosZon_o.ESTADO==e][:100]
    tot.append(tmp)

In [31]:
anexosZon = pd.concat(tot)

## Estado

In [4]:
estados = anexosDes[['ESTADO','NOMBRE DE ESTADO']].copy()

In [5]:
estados.sort_values(by='ESTADO',inplace=True)
estados.drop_duplicates(inplace=True)
estados

       ESTADO                 NOMBRE DE ESTADO
2145        1                   AGUASCALIENTES
2581        2                  BAJA CALIFORNIA
29004       3              BAJA CALIFORNIA SUR
3496        4                         CAMPECHE
924         5             COAHUILA DE ZARAGOZA
29543       6                           COLIMA
872         7                          CHIAPAS
5254        8                        CHIHUAHUA
5399        9                 CIUDAD DE MÉXICO
5493       10                          DURANGO
6018       11                       GUANAJUATO
29734      12                         GUERRERO
324        13                          HIDALGO
29947      14                          JALISCO
8157       15                           MÉXICO
9395       16              MICHOACÁN DE OCAMPO
9664       17                          MORELOS
10140      18                          NAYARIT
10266      19                       NUEVO LEÓN
10498      20                           OAXACA
11386      21                           PUEBLA
12221      22                        QUERÉTARO
31184      23                     QUINTANA ROO
1659       24                  SAN LUIS POTOSÍ
573        25                          SINALOA
22948      26                           SONORA
25853      27                          TABASCO
25086      28                       TAMAULIPAS
31928      29                         TLAXCALA
20109      30  VERACRUZ DE IGNACIO DE LA LLAVE
20990      31                          YUCATÁN
22735      32                        ZACATECAS

In [6]:
estados.to_csv(dfolder+'estados.csv',index=False)

## Muncipio

In [7]:
munAnexos = []
for anexo in [anexosDes,anexosSub,anexosSup,anexosZon]:
    munAnexos.append(anexo[['ESTADO', 'CLAVE DE MUNICIPIO','NOMBRE DE MUNICIPIO']].copy())
municipios = pd.concat(munAnexos)

In [8]:
municipios.sort_values(by=['ESTADO','CLAVE DE MUNICIPIO'],inplace=True)
municipios.index = np.arange(municipios.shape[0])
municipios.drop_duplicates(inplace=True)
municipios

        ESTADO  CLAVE DE MUNICIPIO    NOMBRE DE MUNICIPIO
0            1                   1         AGUASCALIENTES
2230         1                   2               ASIENTOS
3052         1                   3               CALVILLO
3926         1                   4                  COSÍO
4138         1                   5            JESÚS MARÍA
...        ...                 ...                    ...
702685      32                  54          VILLA HIDALGO
703088      32                  55             VILLANUEVA
703751      32                  56              ZACATECAS
704018      32                  57               TRANCOSO
704068      32                  58  SANTA MARÍA DE LA PAZ

[2463 rows x 3 columns]

In [9]:
municipios.to_csv(dfolder+'municipios.csv',index=False)

## Región hidrológica

In [10]:
regAnexos = []
for anexo in [anexosDes,anexosSub,anexosSup,anexosZon]:
    regAnexos.append(anexo[['CLAVE DE REGIÓN HIDROLÓGICA','NOMBRE DE REGIÓN HIDROLÓGICA']].copy())
regiones = pd.concat(regAnexos)

In [11]:
regiones['CLAVE DE REGIÓN HIDROLÓGICA'].fillna(0,inplace=True)
regiones.sort_values(by='CLAVE DE REGIÓN HIDROLÓGICA',inplace=True)
regiones.index = np.arange(regiones.shape[0])
regiones.drop_duplicates(inplace=True)
regiones

        CLAVE DE REGIÓN HIDROLÓGICA            NOMBRE DE REGIÓN HIDROLÓGICA
0                                 0                                SIN DATO
6                                 1                BAJA CALIFORNIA NOROESTE
7858                              2            BAJA CALIFORNIA CENTRO-OESTE
8976                              3                BAJA CALIFORNIA SUROESTE
11799                             4                 BAJA CALIFORNIA NORESTE
12121                             5             BAJA CALIFORNIA CENTRO-ESTE
12546                             6                 BAJA CALIFORNIA SURESTE
14934                             7                            RÍO COLORADO
18334                             8                            SONORA NORTE
24705                             9                              SONORA SUR
45413                            10                                 SINALOA
66587                            11                      PRESIDIO-SAN PEDRO
81557                            12                          LERMA-SANTIAGO
178044                           13                           RÍO HUICICILA
181959                           14                               RÍO AMECA
188101                           15                        COSTA DE JALISCO
194785                           16                      ARMERÍA-COAHUAYANA
194891                           16                      ARMERIA-COAHUAYANA
207551                           17                      COSTA DE MICHOACÁN
210149                           18                                  BALSAS
257165                           19                COSTA GRANDE DE GUERRERO
267020                           20                 COSTA CHICA DE GUERRERO
294715                           21                         COSTA DE OAXACA
301256                           22                             TEHUANTEPEC
305530                           23                        COSTA DE CHIAPAS
315745                           24                           BRAVO-CONCHOS
358516                           25             SAN FERNANDO-SOTO LA MARINA
376545                           26                                  PÁNUCO
435029                           27  NORTE DE VERACRUZ (RÍOS TUXPAN-NAUTLA)
464475                           28                              PAPALOAPAN
527262                           29                           COATZACOALCOS
544777                           30                     GRIJALVA-USUMACINTA
592333                           31                           YUCATÁN OESTE
597860                           32                           YUCATÁN NORTE
641793                           33                            YUCATÁN ESTE
645571                           34              CUENCAS CERRADAS DEL NORTE
660738                           35                                  MAPIMÍ
662563                           36                         NAZAS-AGUANAVAL
680512                           37                               EL SALADO

In [12]:
regiones.to_csv(dfolder+'regiones.csv',index=False)

## Cuencas

In [13]:
cuAnexos = []
for anexo in [anexosDes,anexosSub,anexosSup,anexosZon]:
    cuAnexos.append(anexo[['CLAVE DE CUENCA HIDROLÓGICA','NOMBRE DE CUENCA HIDROLÓGICA']].copy())
cuencas = pd.concat(cuAnexos)

In [14]:
cuencas.sort_values(by=['CLAVE DE CUENCA HIDROLÓGICA'],inplace=True)
cuencas.index = np.arange(cuencas.shape[0])
cuencas.drop_duplicates(inplace=True)
cuencas

        CLAVE DE CUENCA HIDROLÓGICA          NOMBRE DE CUENCA HIDROLÓGICA
0                                 0                              SIN DATO
505321                            1                               TIJUANA
505684                            2                  DESCANSO-LOS MÉDANOS
505763                            3                             GUADALUPE
506243                            4                     ENSENADA-EL GALLO
...                             ...                                   ...
701104                          754                    FRESNILLO - YESCAS
702373                          755               PRESA SAN PABLO Y OTRAS
703088                          756  PRESA SAN JOSÉ - LOS PILARES Y OTRAS
704001                          757                          SIERRA MADRE
704078                        10003                             NO APLICA

[749 rows x 2 columns]

In [15]:
cuencas.to_csv(dfolder+'cuencas.csv',index=False)

## Cuencas - Regiones

In [16]:
cuencasReg = []
for anexo in [anexosDes,anexosSub,anexosSup,anexosZon]:
    cuencasReg.append(anexo[['CLAVE DE REGIÓN HIDROLÓGICA','CLAVE DE CUENCA HIDROLÓGICA']])

cuencaReg = pd.concat(cuencasReg)

In [17]:
cuencaReg.drop_duplicates(inplace=True)
cuencaReg

        CLAVE DE REGIÓN HIDROLÓGICA  CLAVE DE CUENCA HIDROLÓGICA
0                                12                          186
1                                16                          259
2                                12                          189
3                                24                          436
4                                12                          208
...                             ...                          ...
146301                           25                          433
147175                           11                          745
1930                             19                          306
4845                              5                           61
5764                             14                            2

[1151 rows x 2 columns]

In [18]:
cuencaReg.to_csv(dfolder+'cuenca-region.csv',index=False)

## Acuíferos

In [19]:
anexosSub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387575 entries, 0 to 387574
Data columns (total 21 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   TÍTULO                                    387575 non-null  object
 1   CLAVE DE REGIÓN HIDROLÓGICA               387575 non-null  int64
 2   NOMBRE DE REGIÓN HIDROLÓGICA              387575 non-null  object
 3   ESTADO                                    387575 non-null  int64
 4   NOMBRE DE ESTADO                          387575 non-null  object
 5   CLAVE DE MUNICIPIO                        387575 non-null  int64
 6   NOMBRE DE MUNICIPIO                       387575 non-null  object
 7   CLAVE DE CUENCA HIDROLÓGICA               387575 non-null  int64
 8   NOMBRE DE CUENCA HIDROLÓGICA              387575 non-null  object
 9   VOLUMEN ANUAL EN m3                       387575 non-null  float64
 10  GRADOS LATITUD                            387575 non-null  int64
 11  MINUTOS LATITUD                           387575 non-null  int64
 12  SEGUNDOS LATITUD                          387575 non-null  float64
 13  GRADOS LONGITUD                           387575 non-null  int64
 14  MINUTOS LONGITUD                          387575 non-null  int64
 15  SEGUNDOS LONGITUD                         387575 non-null  float64
 16  CLAVE DE ACUÍFERO QUE MENCIONA EL TÍTULO  387575 non-null  int64
 17  ACUÍFERO QUE MENCIONA EL TÍTULO           387575 non-null  object
 18  NÚMERO DE ANEXO                           387575 non-null  int64
 19  CLAVE DE ACUÍFERO HOMOLOGADO              387575 non-null  int64
 20  NOMBRE DE ACUIFERO HOMOLOGADO             387575 non-null  object
dtypes: float64(3), int64(11), object(7)
memory usage: 62.1+ MB

In [4]:
anexosSub[anexosSub['CLAVE DE ACUÍFERO QUE MENCIONA EL TÍTULO']==-1]=0

In [5]:
ac1 = anexosSub[['CLAVE DE ACUÍFERO QUE MENCIONA EL TÍTULO','ACUÍFERO QUE MENCIONA EL TÍTULO']]
ac2 = anexosSub[['CLAVE DE ACUÍFERO HOMOLOGADO','NOMBRE DE ACUIFERO HOMOLOGADO']]
ac2.columns = ac1.columns
acuiferos = pd.concat([ac1,ac2])

In [6]:
acuiferos.sort_values(by='CLAVE DE ACUÍFERO QUE MENCIONA EL TÍTULO',inplace=True)
acuiferos.index = np.arange(acuiferos.shape[0])
acuiferos.drop_duplicates(subset='CLAVE DE ACUÍFERO QUE MENCIONA EL TÍTULO',inplace=True)
acuiferos

,CLAVE DE ACUÍFERO QUE MENCIONA EL TÍTULO,ACUÍFERO QUE MENCIONA EL TÍTULO
0,0,SIN DATO
66961,1,ALLENDE-PIEDRAS NEGRAS
67263,2,RIO SINALOA
67306,3,RIO MOCORITO
67369,4,LAGUNA SECA
...,...,...
772320,3231,PINOS
773192,3232,ESPÍRITU SANTO
775038,3233,PINO SUAREZ
775127,3234,SALDAÑA
775149,9999,Zona de Riego de la Presa Solis

In [23]:
acuiferos.to_csv(dfolder+'acuiferos.csv',index=False)

## Superficie

In [55]:
superficie = anexosSup[['FUENTE DE ABASTECIMIENTO','AFLUENTE']]
superficie

       FUENTE DE ABASTECIMIENTO  AFLUENTE
20                        PRESA  SIN DATO
55                        BORDO  SIN DATO
56                       ARROYO  SIN DATO
61                          RIO  SIN DATO
317                         RIO  SIN DATO
...                         ...       ...
121448  MANANTIAL RANCHO ULISES  SIN DATO
121449     MANANTIAL SIN NOMBRE  SIN DATO
121450    MANANTIAL JESUS MARIA  SIN DATO
121451     MANANTIAL SIN NOMBRE  SIN DATO
121452      MANANTIAL EL VERGEL  SIN DATO

[2968 rows x 2 columns]

In [56]:
superficie.drop_duplicates(inplace = True)

<ipython-input-56-bd73c4c7b471>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  superficie.drop_duplicates(inplace = True)

In [57]:
superficie.index = np.arange(superficie.shape[0])
superficie

       FUENTE DE ABASTECIMIENTO  AFLUENTE
0                         PRESA  SIN DATO
1                         BORDO  SIN DATO
2                        ARROYO  SIN DATO
3                           RIO  SIN DATO
4                      20 - río  SIN DATO
..                          ...       ...
559  MANANTIAL LA MANGA MATRERA  SIN DATO
560     MANANTIAL BARRANQUILLAS  SIN DATO
561     MANANTIAL RANCHO ULISES  SIN DATO
562       MANANTIAL JESUS MARIA  SIN DATO
563         MANANTIAL EL VERGEL  SIN DATO

[564 rows x 2 columns]

In [27]:
superficie.to_csv(dfolder+'superficies.csv')

## Concesiones

In [21]:
concesiones_o = pd.read_csv(folder+'CONCESIONES.csv')

In [22]:
concesiones_o = concesiones_o[['TÍTULO','USO QUE AMPARA EL TÍTULO','TITULAR','FECHA DE REGISTRO','AUTORIDAD QUE EMITE EL ACTO']]
concesiones_o['FECHA DE REGISTRO'] = concesiones_o['FECHA DE REGISTRO'].apply(lambda x: x[6:]+"-"+x[3:5]+"-"+x[:2] )
concesiones_o

,TÍTULO,USO QUE AMPARA EL TÍTULO,TITULAR,FECHA DE REGISTRO,AUTORIDAD QUE EMITE EL ACTO
0,810052,DIFERENTES USOS,"VICTOR DE SANTOS GARCIA, MA. ELENA GONZALEZ RO...",2019-08-06,ORGANISMO DE CUENCA LERMA SANTIAGO PACÍFICO
1,810055,AGR͍COLA,"ANTONIO MARTIN GOMEZ, MARIA GUADALUPE GOMEZ GOMEZ",2020-05-29,ORGANISMO DE CUENCA LERMA SANTIAGO PACÍFICO
2,810060,DIFERENTES USOS,ANTONIO FAJARDO MEDINA,2019-06-28,DIRECCIÓN LOCAL SAN LUIS POTOSÍ
3,810064,AGR͍COLA,NOE MONTES GANDARILLA,2020-08-31,DIRECCIÓN LOCAL DURANGO
4,810065,DIFERENTES USOS,LUCIA TARCILA CHAVEZ PEÑA,2020-09-10,ORGANISMO DE CUENCA LERMA SANTIAGO PACÍFICO
...,...,...,...,...,...
522408,12CAM155428/30EQDL21,SERVICIOS,"TRANSPORTACION MARITIMA MEXICANA, S.A. DE C.V.",2021-12-02,DIRECCIÓN LOCAL CAMPECHE
522409,SON150676,DIFERENTES USOS,"BUENAVISTA DEL COBRE, S.A. DE C.V.",2012-02-27,ORGANISMO DE CUENCA NOROESTE
522410,01BCA154330/07NAGC17,CONSERVACIÓN ECOLÓGICA,"PRONATURA NOROESTE, A.C.",2018-03-08,GERENCIA DE SERVICIOS A USUARIOS
522411,01BCA157136/07NAGC18,CONSERVACIÓN ECOLÓGICA,"RESTAUREMOS EL COLORADO, A.C.",2018-09-26,GERENCIA DE SERVICIOS A USUARIOS
522412,01SON153357/07NAGC18,CONSERVACIÓN ECOLÓGICA,"RESTAUREMOS EL COLORADO, A.C.",2018-09-26,GERENCIA DE SERVICIOS A USUARIOS

In [33]:
concesiones = concesiones_o[(concesiones_o['TÍTULO'].isin(anexosDes['TÍTULO']))|(concesiones_o['TÍTULO'].isin(anexosSub['TÍTULO']))|(concesiones_o['TÍTULO'].isin(anexosSup['TÍTULO']))|(concesiones_o['TÍTULO'].isin(anexosZon['TÍTULO']))]

In [35]:
concesiones

,TÍTULO,USO QUE AMPARA EL TÍTULO,TITULAR,FECHA DE REGISTRO,AUTORIDAD QUE EMITE EL ACTO
0,810052,DIFERENTES USOS,"VICTOR DE SANTOS GARCIA, MA. ELENA GONZALEZ RO...",2019-08-06,ORGANISMO DE CUENCA LERMA SANTIAGO PACÍFICO
1,810055,AGR͍COLA,"ANTONIO MARTIN GOMEZ, MARIA GUADALUPE GOMEZ GOMEZ",2020-05-29,ORGANISMO DE CUENCA LERMA SANTIAGO PACÍFICO
2,810060,DIFERENTES USOS,ANTONIO FAJARDO MEDINA,2019-06-28,DIRECCIÓN LOCAL SAN LUIS POTOSÍ
3,810064,AGR͍COLA,NOE MONTES GANDARILLA,2020-08-31,DIRECCIÓN LOCAL DURANGO
4,810065,DIFERENTES USOS,LUCIA TARCILA CHAVEZ PEÑA,2020-09-10,ORGANISMO DE CUENCA LERMA SANTIAGO PACÍFICO
...,...,...,...,...,...
512958,13TLX100027/26DBDL14,ACUACULTURA,COOPERATIVA DE PRODUCCION PESQUERA NANACAMILPA...,1994-10-05,DIRECCIÓN LOCAL TLAXCALA
513009,04TLX100520/18IODL14,DIFERENTES USOS,C. ESTHER MUÑOZ ERAZO,1996-08-21,DIRECCIÓN LOCAL TLAXCALA
513010,04TLX100536/18EODL15,SERVICIOS,SOCIEDAD COOPERATIVA EJIDAL DE FOMENTO TURISTI...,1997-03-03,DIRECCIÓN LOCAL TLAXCALA
513015,04TLX100555/27ADDL15,AGR͍COLA,"""ASOCIACION DE USUARIOS DE LA UNIDAD DE RIEGO ...",1995-06-06,DIRECCIÓN LOCAL TLAXCALA
513027,04TLX100658/18AODL14,AGR͍COLA,C. ALFONSO ABRAHAM SANCHEZ ANAYA,1995-01-09,DIRECCIÓN LOCAL TLAXCALA

In [34]:
concesiones.to_csv(dfolder+'concesion_reduced.csv',index=False)

## Zona Federal

In [36]:
def get_lon(anexos):
    #-d - m / 60 - s / 3600 
    return -anexos['GRADOS LONGITUD'] - anexos['MINUTOS LONGITUD']/60 - anexos['SEGUNDOS LONGITUD']/3600

In [37]:
def get_lat(anexos):
    #d + m / 60 + s / 3600 
    return anexos['GRADOS LONGITUD'] + anexos['MINUTOS LONGITUD']/60 + anexos['SEGUNDOS LONGITUD']/3600

In [38]:
anexosZon.columns

Index(['TÍTULO', 'CLAVE DE REGIÓN HIDROLÓGICA', 'NOMBRE DE REGIÓN HIDROLÓGICA',
       'ESTADO', 'NOMBRE DE ESTADO', 'CLAVE DE MUNICIPIO',
       'NOMBRE DE MUNICIPIO', 'CLAVE DE CUENCA HIDROLÓGICA',
       'NOMBRE DE CUENCA HIDROLÓGICA', 'SUPERFICIE EN m2', 'CORRIENTE O VASO',
       'NÚMERO DE ANEXO', 'GRADOS LATITUD', 'MINUTOS LATITUD',
       'SEGUNDOS LATITUD', 'GRADOS LONGITUD', 'MINUTOS LONGITUD',
       'SEGUNDOS LONGITUD'],
      dtype='object')

In [39]:
zonaFederal = anexosZon[['TÍTULO','NÚMERO DE ANEXO', 'SUPERFICIE EN m2', 'CORRIENTE O VASO','CLAVE DE MUNICIPIO','ESTADO','CLAVE DE CUENCA HIDROLÓGICA']]

In [40]:
zonaFederal['NÚMERO DE ANEXO'] = np.arange(zonaFederal.shape[0])
zonaFederal['LONIGTUD'] = get_lon(anexosZon).copy()
zonaFederal['LATITUD'] = get_lat(anexosZon).copy()

<ipython-input-40-12a55c64465f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zonaFederal['NÚMERO DE ANEXO'] = np.arange(zonaFederal.shape[0])
<ipython-input-40-12a55c64465f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zonaFederal['LONIGTUD'] = get_lon(anexosZon).copy()
<ipython-input-40-12a55c64465f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zonaFederal['LATITUD'] = get_lat(anexosZon).copy()

In [41]:
zonaFederal

,TÍTULO,NÚMERO DE ANEXO,SUPERFICIE EN m2,CORRIENTE O VASO,CLAVE DE MUNICIPIO,ESTADO,CLAVE DE CUENCA HIDROLÓGICA,LONIGTUD,LATITUD
0,810053,0,5742.07,ARROYO,1,1,191,-102.328748,102.328748
1,810054,1,161.33,ARROYO,1,1,191,-102.199083,102.199083
2,810063,2,20.65,RIO,1,1,191,-102.284111,102.284111
5,810068,3,1920.25,RIO,1,1,191,-102.322339,102.322339
115,810907,4,3204.16,RIO,1,1,194,-102.374500,102.374500
...,...,...,...,...,...,...,...,...,...
107737,2ZAC100527/12AAGE93,2996,13870.00,RIO GRANDE DE JEREZ,20,32,0,-102.975000,102.975000
107738,2ZAC100019/12AAGE94,2997,945.00,RIO BOLAÑOS,20,32,0,-102.138889,102.138889
107739,2ZAC100005/12ADGE94,2998,7900.00,ARROYO HUISQUILCO O EL SITIO,34,32,0,-102.791667,102.791667
107740,2ZAC100023/12AAGE94,2999,3600.00,RIO JUCHIPILA,55,32,0,-102.804167,102.804167
107741,2ZAC100024/12ADGE94,3000,17100.00,ARROYO LAS AMARILLAS O LA COFRADIA,34,32,0,-102.852778,102.852778

In [42]:
zonaFederal.to_csv(dfolder+'zonaFed_reduced.csv', index=False)

## Descargas

In [43]:
anexosDes.columns

Index(['TÍTULO', 'CLAVE DE REGIÓN HIDROLÓGICA', 'NOMBRE DE REGIÓN HIDROLÓGICA',
       'ESTADO', 'NOMBRE DE ESTADO', 'CLAVE DE MUNICIPIO',
       'NOMBRE DE MUNICIPIO', 'CLAVE DE CUENCA HIDROLÓGICA',
       'NOMBRE DE CUENCA HIDROLÓGICA', 'VOLUMEN DE DESCARGA DIARIO EN M3',
       'VOLUMEN DE DESCARGA ANUAL EN M3', 'PROCEDENCIA', 'CUERPO RECEPTOR',
       'TIPO DE DESCARGA', 'NÚMERO DE ANEXO', 'GRADOS LATITUD',
       'MINUTOS LATITUD', 'SEGUNDOS LATITUD', 'GRADOS LONGITUD',
       'MINUTOS LONGITUD', 'SEGUNDOS LONGITUD', 'AFLUENTE AL QUE SE DESCARGA',
       'FORMA DE DESCARGAR'],
      dtype='object')

In [44]:
descargas = anexosDes[['NÚMERO DE ANEXO','TIPO DE DESCARGA','CUERPO RECEPTOR','PROCEDENCIA','AFLUENTE AL QUE SE DESCARGA','CLAVE DE MUNICIPIO','ESTADO','CLAVE DE CUENCA HIDROLÓGICA','FORMA DE DESCARGAR']]

In [45]:
descargas['NÚMERO DE ANEXO'] = np.arange(descargas.shape[0])
descargas['LONGITUD'] = get_lon(anexosDes)
descargas['LATITUD'] = get_lat(anexosDes)
descargas

<ipython-input-45-4673890bb5e1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  descargas['NÚMERO DE ANEXO'] = np.arange(descargas.shape[0])
<ipython-input-45-4673890bb5e1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  descargas['LONGITUD'] = get_lon(anexosDes)
<ipython-input-45-4673890bb5e1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  descargas['LATITUD'] = get_lat(anexosDes)

,NÚMERO DE ANEXO,TIPO DE DESCARGA,CUERPO RECEPTOR,PROCEDENCIA,AFLUENTE AL QUE SE DESCARGA,CLAVE DE MUNICIPIO,ESTADO,CLAVE DE CUENCA HIDROLÓGICA,FORMA DE DESCARGAR,LONGITUD,LATITUD
2,0,SIN DATO,SUELO,SIN DATO,SIN DATO,7,1,189,SIN DATO,-102.307667,102.307667
110,1,SIN DATO,SUELO,SIN DATO,SIN DATO,1,1,191,SIN DATO,-102.328334,102.328334
111,2,SIN DATO,RIO,SIN DATO,SIN DATO,1,1,191,SIN DATO,-102.328000,102.328000
325,3,SIN DATO,RIO,SIN DATO,SIN DATO,1,1,194,SIN DATO,-102.292972,102.292972
327,4,SIN DATO,SUELO,SIN DATO,SIN DATO,1,1,194,SIN DATO,-102.342389,102.342389
...,...,...,...,...,...,...,...,...,...,...,...
22699,3195,PUBLICO URBANO,"SUELO, USO AGRICOLA",PUBLICO URBANO,RIO AGUANAVAL,10,32,0,LIBRE CON TUBERIA,-103.122500,103.122500
22700,3196,SERVICIO PUBLICO URBANO,RIO SAN ANDRES,SERVICIO PUBLICO URBANO,RIO SANTIAGO,21,32,0,LIBRE CON TUBERIA,-103.783333,103.783333
22701,3197,SERVICIO PUBLICO URBANO,ARROYO JESUS MARIA,SERVICIO PUBLICO URBANO,RIO SANTIAGO,18,32,0,LIBRE CON TUBERIA,-102.969444,102.969444
22702,3198,SERVICIOS,RIO TLALTENANGO.,ALBERCAS Y SANITARIOS,RIO SANTIAGO,48,32,0,LIBRE CON TUBERIA,-103.319722,103.319722
22703,3199,SERVICIO PUBLICO URBANO,ARROYO DEL BAJIO,SERVICIO PUBLICO URBANO,SIN AFLUENTE,6,32,0,LIBRE CON TUBERIA,-102.725556,102.725556

In [46]:
descargas.to_csv(dfolder+'descarga_reduced.csv',index=False)

## Anexo de extracción

In [47]:
supers = anexosSup[['TÍTULO', 'NÚMERO DE ANEXO']]
supers['LONGITUD'] =  get_lon(anexosSup)
supers['LATITUD'] = get_lon(anexosSup)
supers['TIPO'] = ['SUPERFICIAL']*supers.shape[0]

<ipython-input-47-16120ceae7fb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  supers['LONGITUD'] =  get_lon(anexosSup)
<ipython-input-47-16120ceae7fb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  supers['LATITUD'] = get_lon(anexosSup)
<ipython-input-47-16120ceae7fb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  supers['TIPO'] = ['SUPERFICIAL']*supers.shape[0]

In [48]:
subtes = anexosSub[['TÍTULO', 'NÚMERO DE ANEXO']]
subtes['LONGITUD'] =  get_lon(anexosSub)
subtes['LATITUD'] = get_lon(anexosSub)
subtes['TIPO'] = ['SUBTERRÁNEO']*subtes.shape[0]

<ipython-input-48-af65aa385814>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subtes['LONGITUD'] =  get_lon(anexosSub)
<ipython-input-48-af65aa385814>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subtes['LATITUD'] = get_lon(anexosSub)
<ipython-input-48-af65aa385814>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subtes['TIPO'] = ['SUBTERRÁNEO']*subtes.shape[0]

In [49]:
anexosExt = pd.concat([supers,subtes])
anexosExt['NÚMERO DE ANEXO'] = np.arange(anexosExt.shape[0])
anexosExt

      TÍTULO  NÚMERO DE ANEXO    LONGITUD     LATITUD         TIPO
20    811136                0 -102.430834 -102.430834  SUPERFICIAL
55    812457                1 -102.374723 -102.374723  SUPERFICIAL
56    812509                2 -102.734167 -102.734167  SUPERFICIAL
61    812808                3 -102.705278 -102.705278  SUPERFICIAL
317   817135                4 -102.367500 -102.367500  SUPERFICIAL
...      ...              ...         ...         ...          ...
3496  815544             6163 -101.486839 -101.486839  SUBTERRÁNEO
3497  815544             6164 -101.476889 -101.476889  SUBTERRÁNEO
3498  815544             6165 -101.502386 -101.502386  SUBTERRÁNEO
3499  815544             6166 -101.495531 -101.495531  SUBTERRÁNEO
3500  815544             6167 -101.470944 -101.470944  SUBTERRÁNEO

[6168 rows x 5 columns]

In [50]:
anexosExt.to_csv(dfolder+'anexoExt_reduced.csv')

## Anexo-acuifero

In [51]:
acs_homo = anexosExt[anexosExt.TIPO=='SUBTERRÁNEO'].join(anexosSub[['CLAVE DE ACUÍFERO HOMOLOGADO','VOLUMEN ANUAL EN m3']])[['NÚMERO DE ANEXO','CLAVE DE ACUÍFERO HOMOLOGADO','VOLUMEN ANUAL EN m3']]
acs_homo = acs_homo.rename(columns={'CLAVE DE ACUÍFERO HOMOLOGADO':'CLAVE DE ACUÍFERO'})

acs_men = anexosExt[anexosExt.TIPO=='SUBTERRÁNEO'].join(anexosSub[['CLAVE DE ACUÍFERO QUE MENCIONA EL TÍTULO','VOLUMEN ANUAL EN m3']])[['NÚMERO DE ANEXO','CLAVE DE ACUÍFERO QUE MENCIONA EL TÍTULO','VOLUMEN ANUAL EN m3']]
acs_men = acs_men.rename(columns={'CLAVE DE ACUÍFERO QUE MENCIONA EL TÍTULO':'CLAVE DE ACUÍFERO'})

In [52]:
anexoExt_acs = pd.concat([acs_homo,acs_men])
anexoExt_acs = anexoExt_acs[anexoExt_acs['CLAVE DE ACUÍFERO']!=0]
anexoExt_acs.drop_duplicates(inplace=True)
anexoExt_acs['FECHA']=['2022-05-22']*anexoExt_acs.shape[0]
anexoExt_acs

      NÚMERO DE ANEXO  CLAVE DE ACUÍFERO  VOLUMEN ANUAL EN m3       FECHA
24               2968                101              73000.0  2022-05-22
276              2969                102              60000.0  2022-05-22
386              2970                102              30000.0  2022-05-22
394              2971                102              72000.0  2022-05-22
418              2972                101              30000.0  2022-05-22
...               ...                ...                  ...         ...
3496             6163               3220             272730.0  2022-05-22
3497             6164               3220             272730.0  2022-05-22
3498             6165               3220             272730.0  2022-05-22
3499             6166               3220             272730.0  2022-05-22
3500             6167               3220             272730.0  2022-05-22

[3200 rows x 4 columns]

In [53]:
anexoExt_acs.to_csv(dfolder+'anexoExt-ac_reduced.csv',index=False)

## Anexo-Superficie

In [58]:
superficie['idx'] = superficie.index
superficie

<ipython-input-58-bfeab77dd87f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  superficie['idx'] = superficie.index

       FUENTE DE ABASTECIMIENTO  AFLUENTE  idx
0                         PRESA  SIN DATO    0
1                         BORDO  SIN DATO    1
2                        ARROYO  SIN DATO    2
3                           RIO  SIN DATO    3
4                      20 - río  SIN DATO    4
..                          ...       ...  ...
559  MANANTIAL LA MANGA MATRERA  SIN DATO  559
560     MANANTIAL BARRANQUILLAS  SIN DATO  560
561     MANANTIAL RANCHO ULISES  SIN DATO  561
562       MANANTIAL JESUS MARIA  SIN DATO  562
563         MANANTIAL EL VERGEL  SIN DATO  563

[564 rows x 3 columns]

In [59]:
aux = anexosSup.merge(superficie,on=['FUENTE DE ABASTECIMIENTO','AFLUENTE'])
aux

,TÍTULO,CLAVE DE REGIÓN HIDROLÓGICA,NOMBRE DE REGIÓN HIDROLÓGICA,ESTADO,NOMBRE DE ESTADO,CLAVE DE MUNICIPIO,NOMBRE DE MUNICIPIO,CLAVE DE CUENCA HIDROLÓGICA,NOMBRE DE CUENCA HIDROLÓGICA,VOLUMEN ANUAL EN m3,GRADOS LATITUD,MINUTOS LATITUD,SEGUNDOS LATITUD,GRADOS LONGITUD,MINUTOS LONGITUD,SEGUNDOS LONGITUD,FUENTE DE ABASTECIMIENTO,AFLUENTE,NÚMERO DE ANEXO,idx
0,811136,12,LERMA-SANTIAGO,1,AGUASCALIENTES,5,JESÚS MARÍA,191,PRESA EL NIÁGARA,89812.0,21,55,46.0011,102,25,51.0009,PRESA,SIN DATO,1,0
1,819309,12,LERMA-SANTIAGO,1,AGUASCALIENTES,1,AGUASCALIENTES,191,PRESA EL NIÁGARA,70000.0,21,48,58.0111,102,22,20.0017,PRESA,SIN DATO,1,0
2,838519,12,LERMA-SANTIAGO,1,AGUASCALIENTES,1,AGUASCALIENTES,191,PRESA EL NIÁGARA,80000.0,21,47,35.9533,102,21,36.7311,PRESA,SIN DATO,1,0
3,839011,12,LERMA-SANTIAGO,1,AGUASCALIENTES,3,CALVILLO,204,RÍO JUCHIPILA 1,450.0,21,59,53.0017,102,40,27.0005,PRESA,SIN DATO,1,0
4,839629,12,LERMA-SANTIAGO,1,AGUASCALIENTES,3,CALVILLO,204,RÍO JUCHIPILA 1,180144.0,21,59,18.0005,102,37,33.0012,PRESA,SIN DATO,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2963,3ZAC108006/12HOGE97,12,LERMA-SANTIAGO,32,ZACATECAS,21,JIMÉNEZ DEL TEUL,215,RÍO SAN JUAN,1205.0,23,5,40.0000,104,9,0.0000,MANANTIAL LA MANGA MATRERA,SIN DATO,1,559
2964,3ZAC108007/12HOGE97,12,LERMA-SANTIAGO,32,ZACATECAS,21,JIMÉNEZ DEL TEUL,215,RÍO SAN JUAN,1370.0,23,8,0.0000,103,45,48.0000,MANANTIAL BARRANQUILLAS,SIN DATO,1,560
2965,3ZAC108008/12HOGE97,12,LERMA-SANTIAGO,32,ZACATECAS,21,JIMÉNEZ DEL TEUL,215,RÍO SAN JUAN,1100.0,23,13,40.0000,103,49,7.0000,MANANTIAL RANCHO ULISES,SIN DATO,1,561
2966,3ZAC108011/12HOGE97,12,LERMA-SANTIAGO,32,ZACATECAS,48,TLALTENANGO DE SÁNCHEZ ROMÁN,211,RÍO TLALTENANGO,14070.0,21,50,49.0000,103,17,27.0000,MANANTIAL JESUS MARIA,SIN DATO,1,562
2967,3ZAC108013/12HOGE97,12,LERMA-SANTIAGO,32,ZACATECAS,48,TLALTENANGO DE SÁNCHEZ ROMÁN,211,RÍO TLALTENANGO,1100.0,21,45,36.0000,103,19,22.0000,MANANTIAL EL VERGEL,SIN DATO,1,563

In [60]:
anexo_sup = pd.DataFrame()
anexo_sup['NÚMERO DE ANEXO'] = anexosExt[anexosExt.TIPO=='SUPERFICIAL'].index
anexo_sup['ID SUPERFICIE'] = aux['idx']
anexo_sup['VOLUMEN ANUAL'] = aux['VOLUMEN ANUAL EN m3']
anexo_sup['FECHA'] = ['2022-05-22']*anexo_sup.shape[0]
anexo_sup

      NÚMERO DE ANEXO  ID SUPERFICIE  VOLUMEN ANUAL       FECHA
0                  20              0        89812.0  2022-05-22
1                  55              0        70000.0  2022-05-22
2                  56              0        80000.0  2022-05-22
3                  61              0          450.0  2022-05-22
4                 317              0       180144.0  2022-05-22
...               ...            ...            ...         ...
2963           121448            559         1205.0  2022-05-22
2964           121449            560         1370.0  2022-05-22
2965           121450            561         1100.0  2022-05-22
2966           121451            562        14070.0  2022-05-22
2967           121452            563         1100.0  2022-05-22

[2968 rows x 4 columns]

In [61]:
anexo_sup.to_csv(dfolder+'anexoExt-sup_reduced.csv',index=False)

## Descargas-Concesión

In [62]:
descargas

,NÚMERO DE ANEXO,TIPO DE DESCARGA,CUERPO RECEPTOR,PROCEDENCIA,AFLUENTE AL QUE SE DESCARGA,CLAVE DE MUNICIPIO,ESTADO,CLAVE DE CUENCA HIDROLÓGICA,FORMA DE DESCARGAR,LONGITUD,LATITUD
2,0,SIN DATO,SUELO,SIN DATO,SIN DATO,7,1,189,SIN DATO,-102.307667,102.307667
110,1,SIN DATO,SUELO,SIN DATO,SIN DATO,1,1,191,SIN DATO,-102.328334,102.328334
111,2,SIN DATO,RIO,SIN DATO,SIN DATO,1,1,191,SIN DATO,-102.328000,102.328000
325,3,SIN DATO,RIO,SIN DATO,SIN DATO,1,1,194,SIN DATO,-102.292972,102.292972
327,4,SIN DATO,SUELO,SIN DATO,SIN DATO,1,1,194,SIN DATO,-102.342389,102.342389
...,...,...,...,...,...,...,...,...,...,...,...
22699,3195,PUBLICO URBANO,"SUELO, USO AGRICOLA",PUBLICO URBANO,RIO AGUANAVAL,10,32,0,LIBRE CON TUBERIA,-103.122500,103.122500
22700,3196,SERVICIO PUBLICO URBANO,RIO SAN ANDRES,SERVICIO PUBLICO URBANO,RIO SANTIAGO,21,32,0,LIBRE CON TUBERIA,-103.783333,103.783333
22701,3197,SERVICIO PUBLICO URBANO,ARROYO JESUS MARIA,SERVICIO PUBLICO URBANO,RIO SANTIAGO,18,32,0,LIBRE CON TUBERIA,-102.969444,102.969444
22702,3198,SERVICIOS,RIO TLALTENANGO.,ALBERCAS Y SANITARIOS,RIO SANTIAGO,48,32,0,LIBRE CON TUBERIA,-103.319722,103.319722
22703,3199,SERVICIO PUBLICO URBANO,ARROYO DEL BAJIO,SERVICIO PUBLICO URBANO,SIN AFLUENTE,6,32,0,LIBRE CON TUBERIA,-102.725556,102.725556

In [63]:
anexosDes.columns

Index(['TÍTULO', 'CLAVE DE REGIÓN HIDROLÓGICA', 'NOMBRE DE REGIÓN HIDROLÓGICA',
       'ESTADO', 'NOMBRE DE ESTADO', 'CLAVE DE MUNICIPIO',
       'NOMBRE DE MUNICIPIO', 'CLAVE DE CUENCA HIDROLÓGICA',
       'NOMBRE DE CUENCA HIDROLÓGICA', 'VOLUMEN DE DESCARGA DIARIO EN M3',
       'VOLUMEN DE DESCARGA ANUAL EN M3', 'PROCEDENCIA', 'CUERPO RECEPTOR',
       'TIPO DE DESCARGA', 'NÚMERO DE ANEXO', 'GRADOS LATITUD',
       'MINUTOS LATITUD', 'SEGUNDOS LATITUD', 'GRADOS LONGITUD',
       'MINUTOS LONGITUD', 'SEGUNDOS LONGITUD', 'AFLUENTE AL QUE SE DESCARGA',
       'FORMA DE DESCARGAR'],
      dtype='object')

In [64]:
des_concesion = descargas.join(anexosDes[['TÍTULO','VOLUMEN DE DESCARGA ANUAL EN M3','VOLUMEN DE DESCARGA DIARIO EN M3']])[['NÚMERO DE ANEXO','TÍTULO','VOLUMEN DE DESCARGA ANUAL EN M3','VOLUMEN DE DESCARGA DIARIO EN M3']]
des_concesion['FECHA'] = ['2022-05-22']*des_concesion.shape[0]
des_concesion

,NÚMERO DE ANEXO,TÍTULO,VOLUMEN DE DESCARGA ANUAL EN M3,VOLUMEN DE DESCARGA DIARIO EN M3,FECHA
2,0,810079,540.0,0.0,2022-05-22
110,1,816216,42300.0,0.0,2022-05-22
111,2,816216,4700.0,0.0,2022-05-22
325,3,827870,14965.0,0.0,2022-05-22
327,4,827991,316601.0,0.0,2022-05-22
...,...,...,...,...,...
22699,3195,07ZAC118291/36HPGE01,5073.5,13.9,2022-05-22
22700,3196,3ZAC100069/12HMGE94,63875.0,175.0,2022-05-22
22701,3197,3ZAC100071/12HMGE94,132422.0,362.8,2022-05-22
22702,3198,3ZAC100073/12EOGE94,10001.0,27.4,2022-05-22
22703,3199,3ZAC100070/37HMGE94,178667.5,489.5,2022-05-22

In [65]:
des_concesion.to_csv(dfolder+'concesion_descarga_reduced.csv',index=False)

In [66]:
!ls -l ./data

total 146144
-rw-rw-r-- 1 jazmin jazmin    13662 May 22 19:50 acuiferos.csv
-rw-rw-r-- 1 jazmin jazmin 11871546 May 23 18:28 anexoExt-ac.csv
-rw-rw-r-- 1 jazmin jazmin    92447 Jun 10 17:32 anexoExt-ac_reduced.csv
-rw-rw-r-- 1 jazmin jazmin    78397 Jun 10 17:32 anexoExt-sup_reduced.csv
-rw-rw-r-- 1 jazmin jazmin 45348121 May 23 22:50 anexoExt.csv
-rw-rw-r-- 1 jazmin jazmin   427782 Jun 10 17:32 anexoExt_reduced.csv
-rw-rw-r-- 1 jazmin jazmin  4366603 May 23 18:28 anexoExt_superficie.csv
-rw-rw-r-- 1 jazmin jazmin 64585750 May 23 18:26 concesion.csv
-rw-rw-r-- 1 jazmin jazmin  1606813 May 23 18:28 concesion_descarga.csv
-rw-rw-r-- 1 jazmin jazmin   135793 Jun 10 17:33 concesion_descarga_reduced.csv
-rw-rw-r-- 1 jazmin jazmin  1038746 Jun 10 17:31 concesion_reduced.csv
-rw-rw-r-- 1 jazmin jazmin     7725 May 22 19:50 cuenca-region.csv
-rw-rw-r-- 1 jazmin jazmin    14343 May 22 19:50 cuencas.csv
-rw-rw-r-- 1 jazmin jazmin  4620707 May 23 09:32 descarga.csv
-rw-rw-r-- 1 jazmin jazmin   370082 Jun 10 17:31 descarga_reduced.csv
-rw-rw-r-- 1 jazmin jazmin      485 May 22 19:50 estados.csv
-rw-rw-r-- 1 jazmin jazmin    51630 May 22 19:50 municipios.csv
-rw-rw-r-- 1 jazmin jazmin      855 May 22 19:50 regiones.csv
-rw-rw-r-- 1 jazmin jazmin  1820113 May 22 19:50 superficies.csv
-rw-rw-r-- 1 jazmin jazmin 12919375 May 22 19:50 zonaFed.csv
-rw-rw-r-- 1 jazmin jazmin   220964 Jun 10 17:31 zonaFed_reduced.csv